{% extends 'layout.html' %} {% block content %} {% import
'_macros.html' as macros %}

<form action="" novalidate method="POST">
	<div class="row control-group">
		<h2>Primera banda</h2>
		<div class="form-group form-floating">
			{{macros.camposNuevos(form.x1, class="form-control")}}
		</div>
		<h2>Segunda banda</h2>
		<div class="form-group form-floating">
			{{macros.camposNuevos(form.x2, class="form-control")}}
		</div>
		<h1>Tercera banda</h1>
		<div class="form-group form-floating">
			{{macros.camposNuevos(form.y1, class="form-control")}}
		</div>
		<h2>tolerancia</h2>
		<div class="form-group form-floating">
			{{macros.camposNuevos(form.y2, class="form-control")}}
		</div>
	</div>

	{% if distancia != None %}

	<div>la distancia entre estos dos puntos es: {{ distancia }}</div>

	{% endif %}

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Calcular</button>
	</div>
</form>

{% endblock %}
