{% extends "layout.html" %} {% import '_macros.html' as macros %} {%
block content %}

<form action="" novalidate method="POST">
	<div class="col control-group" style="display: flex">
		<div class="form-group form-floating">
			<h2>Primera banda</h2>
			{{macros.camposNuevos(form.color1, class="form-control")}}
		</div>

		<div class="form-group form-floating">
			<h2>Segunda banda</h2>
			{{macros.camposNuevos(form.color2, class="form-control")}}
		</div>

		<div class="form-group form-floating">
			<h1>Tercera banda</h1>
			{{macros.camposNuevos(form.color3, class="form-control")}}
		</div>

		<div class="form-group form-floating">
			<h2>tolerancia</h2>
			{{macros.camposNuevos(form.tolerancia, class="form-control")}}
		</div>
	</div>
	<div class="row control-group">
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Registrar</button>
		</div>
	</div>
</form>

{% if color1 != None %}
<table border="1">
	<tr>
		<th>Color 1</th>
		<th>Color 2</th>
		<th>Color 3</th>
		<th>Tolerancia</th>
		<th>Valor</th>
		<th>Valor Minimo</th>
		<th>Valor Maximo</th>
	</tr>
	<tbody>
		<td id="c1" style="color: aliceblue">{{ color1 }}</td>
		<td id="c2" style="color: aliceblue">{{ color2 }}</td>
		<td id="c3" style="color: aliceblue">{{ color3 }}</td>
		<td>{{ tole }}</td>
		<td>{{ valor }}</td>
		<td>{{ valorMinimo }}</td>
		<td>{{valorMaximo }}</td>
	</tbody>

	<script>
		const row = document.querySelectorAll('td');
		console.log(row[0].innerText);

		const colores = {
			Negro: 'black',
			Cafe: 'brown',
			Rojo: 'red',
			Naranja: 'orange',
			Amarillo: 'yellow',
			Verde: 'green',
			Azul: 'blue"',
			Violeta: 'violet',
			Gris: 'gray',
			Blanco: 'white'
		};

		document.getElementById('c1').style.backgroundColor =
			colores[row[0].innerText];
		document.getElementById('c2').style.backgroundColor =
			colores[row[1].innerText];
		document.getElementById('c3').style.backgroundColor =
			colores[row[2].innerText];
	</script>
</table>
{% endif %} {% endblock %}
